*{
	margin:0px;
	padding:0px;
}

body{
	background-image:url("../ZDJ/auto1.jpg");
	background-color:pink;
	color:white;
}

.logo{
	font-size:40px;
	font-weight:bold;
	text-align:center;
	margin-bottom:5%;
	margin-top:2%;
}

#tekst{
	border-width:4px;
	border-style:solid;
	border-color:white;
	background-color:black;
	text-align:center;
	width:50%;
	height:20%;
	border-radius:50px 50px 0px 0px;
}

#galery{
	color:white;
}